body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#canvas, #video {
  margin-top: 20px;
  max-width: 100%;
  border: 1px solid black;
  display: none; /* Hide canvas initially */
}

div {
  margin-top: 10px;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
}

#patientInfo > div {
    display: flex;
    justify-content: center;
}

#patientInfo label {
  display: block; /* Make the label a block element */
  text-align: center; /* Center the label text */
}

#patientInfo input[type="text"] {
  display: block;
  margin: 10px auto;
}

  /* Style for the container holding DOB/Last Name and Confirm button */
#confirmationContainer {
    display: block; /* Change to block layout */
    text-align: center; /* Center the content */
}

input[type="number"] {
  width: 60px;
  margin: 0 5px;
}

.take-photo-button,
#sendButton,
#startOverButton,
#cropButton,
#continueButton,
#confirmAndSendButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

#photoInput {
  display: none;
}

#sendButton {
  display: block;
  margin: 20px auto;
}

#patientId {
  margin-bottom: 10px;
}
